<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2008-2015 Josh Drummond
    
    This file is part of WebPasswordSafe.
    
    WebPasswordSafe is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.
    
    WebPasswordSafe is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with WebPasswordSafe; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
-->
<web-app id="WebPasswordSafe" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>WebPasswordSafe</display-name>
    <welcome-file-list>
        <welcome-file>WebPasswordSafe.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
 
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>rpc</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>xsrf</servlet-name>
        <servlet-class>
            net.webpasswordsafe.server.service.helper.WPSXsrfTokenServiceServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>
            net.webpasswordsafe.server.report.JasperReportServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>mvc</servlet-name>
        <servlet-class>
              org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>rpc</servlet-name>
        <url-pattern>/webpasswordsafe/rpc/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>xsrf</servlet-name>
        <url-pattern>/webpasswordsafe/xsrf</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mvc</servlet-name>
        <url-pattern>/sso</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>mvc</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
 
    <filter>
        <filter-name>ContentSecurityPolicy</filter-name>
        <filter-class>net.webpasswordsafe.server.filter.ContentSecurityPolicyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ContentSecurityPolicy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- CAS 2.0 Filters-->
    <!-- 
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://cas-server.com/cas/login</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://localhost:8080</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://cas-server.com/cas/</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://localhost:8080</param-value>
        </init-param>
        <init-param>
            <param-name>artifactParameterName</param-name>
            <param-value>ticket</param-value>
        </init-param>
        <init-param>
            <param-name>redirectAfterValidation</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>
    -->
    <!-- CAS SAML 1.1 Filters-->
    <!--
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.Saml11AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://cas-server.com/cas/login</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://localhost:8080</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Saml11TicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://cas-server.com/cas/</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://localhost:8080</param-value>
        </init-param>
        <init-param>
            <param-name>artifactParameterName</param-name>
            <param-value>SAMLArt</param-value>
        </init-param>
        <init-param>
            <param-name>serviceParameterName</param-name>
            <param-value>TARGET</param-value>
        </init-param>
        <init-param>
            <param-name>redirectAfterValidation</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>
    -->
    <!-- CAS SSO Mappings -->
    <!--
    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/sso</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/sso</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/sso</url-pattern>
    </filter-mapping>
    -->

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/webpasswordsafe-service.xml,/WEB-INF/webpasswordsafe-data.xml,/WEB-INF/webpasswordsafe-reports.xml,/WEB-INF/webpasswordsafe-rest.xml
        </param-value>
    </context-param>
    
    <context-param>
        <param-name>gwt.xsrf.session_cookie_name</param-name>
        <param-value>X-WPS-CSRFToken</param-value>
    </context-param>

</web-app>
